
h2 { text-transform: uppercase;
     color: #b34700; }
h3 { text-transform: uppercase;
     color: #b34700; }


.kuva {
  width: 373,5px;
  height: 400px;
  margin-left: -900px;
  margin-top: 0px;
  position: absolute;
  
}


.otsikko {
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  font-weight:normal;
  font-size: 25px;
  margin-top: 50px;
  margin-left: 100px;
  color: #D19C97;
  
}



.main {
  width: 800px;
  font-family: 'Comfortaa', cursive;
  font-weight:normal;
  position: absolute;
  margin-left: 100px;
  margin-bottom: -100px;
  margin-top: 733px;
  padding-top: 20px;
  color: black;
  font-size: 20px;
  padding-bottom: 30px;
}

.koulutus {
  width: 500px;
  margin-top: 750px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  margin-left: 950px;
  float: left;
}


.profiili {
  width: 100%;
  font-family: 'Comfortaa', cursive;
  font-weight:normal;
  text-align: center;
  margin-top: 370px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: -10px;
  float:left;
  background:#34568B;
  color: white;
  font-size: 20px;
}




.yhteystiedot {
  width: 300px;
  height: 300px;
  float: left;
  font-family: 'Comfortaa', cursive;
  font-weight:normal; 
  margin-top: 150px;
  margin-left: 100px;
  color: #black;
  position: absolute;
  
}
