.kuva {
  width: 373,5px;
  height: 400px;
  margin-left: -900px;
  margin-top: 0px;
  position: absolute;
  
}


.otsikko {
  position: absolute;
  font-family: Maghony; 
  font-weight:normal;
  font-size: 15px;
  margin-top: 100px;
  margin-left: 300px;
  color: #073218;
  
}



.main {
  width: 800px;
  font-family: URW Gothic L;
  font-weight:normal;
  position: absolute;
  margin-left: 900px;
  margin-bottom: -100px;
  margin-top: 733px;
  padding-top: 20px;
  padding-left: 100px;
  float:left;
  color: #073218;
  font-size: 30px;
}

.koulutus {
  width: 500px;
  margin-top: 750px;
  position: absolute;
  color: #073218;
  font-size: 30px;
  font-family: URW Gothic L;
  margin-left: 300px;
}


.profiili {
  width: 1920px;
  font-family: URW Gothic L;
  font-weight:normal;
  text-align: center;
  margin-top: 400px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 0px;
  float:left;
  background:#073218;
  color: white;
  font-size: 20px;
}




.yhteystiedot {
  width: 300px;
  height: 300px;
  float: left;
  font-family: URW Gothic L;
  font-weight:normal; 
  margin-top: 180px;
  margin-left: 300px;
  color: #073218;
  position: absolute;
  
}
